.page {
  transition: background-color 1s;
}

body {
 font-family: 'Open Sans', sans-serif;
 text-align: center;
}

.bar-container {
 max-width: 100px;
 margin: 0 auto;
 padding: 30px;
}

.goal-bar {
 position: relative;
 height: 100%;
 padding-left: 30px;
}
.goal-bar .bar-labels {
 position: absolute;
 top: 0px;
 left: -10px;
 width: 30px;
 height: 100%;
 font-size: 12px;
 line-height: 12px;
 color: #c7c7c7 ;
}
.goal-bar .bar-label {
 display: inline-block;
 position: absolute;
 right: 0;
 margin-top: -6px;
}
.goal-bar .bar-label:nth-child(2) {
 top: 10%;
}
.goal-bar .bar-label:nth-child(3) {
 top: 20%;
}
.goal-bar .bar-label:nth-child(4) {
 top: 30%;
}
.goal-bar .bar-label:nth-child(5) {
 top: 40%;
}
.goal-bar .bar-label:nth-child(6) {
 top: 50%;
}
.goal-bar .bar-label:nth-child(7) {
 top: 60%;
}
.goal-bar .bar-label:nth-child(8) {
 top: 70%;
}
.goal-bar .bar-label:nth-child(9) {
 top: 80%;
}
.goal-bar .bar-label:nth-child(10) {
 top: 90%;
}
.goal-bar .bar-label:nth-child(11) {
 top: 100%;
}
.goal-bar .bar-label:first-child {
 margin-top: 0;
}
.goal-bar .bar-label:last-child {
 margin-top: -12px;
}
.goal-bar .bar-wrap {
 position: relative;
 height: 100%;
 background: #c7c7c7 ;
 border: 1px solid #c7c7c7 ;
 border-radius: 3px;
 overflow: hidden;
}
.goal-bar .bar-line {
 position: absolute;
 width: 100%;
 height: 0;
 margin: 0;
 padding: 0;
 border: none;
 border-top: 1px solid #c7c7c7 ;
}
.goal-bar .bar-line:nth-child(1) {
 top: 10%;
}
.goal-bar .bar-line:nth-child(2) {
 top: 20%;
}
.goal-bar .bar-line:nth-child(3) {
 top: 30%;
}
.goal-bar .bar-line:nth-child(4) {
 top: 40%;
}
.goal-bar .bar-line:nth-child(5) {
 top: 50%;
}
.goal-bar .bar-line:nth-child(6) {
 top: 60%;
}
.goal-bar .bar-line:nth-child(7) {
 top: 70%;
}
.goal-bar .bar-line:nth-child(8) {
 top: 80%;
}
.goal-bar .bar-line:nth-child(9) {
 top: 90%;
}
.goal-bar .bar-line:nth-child(10) {
 top: 100%;
}
.goal-bar .bar {
 position: absolute;
 width: 100%;
 height: 100%;
 background: #cd2929 ;
 transform: translateY(100%);
 transition: all 0.2s;
}
.goal-bar .bar-info {
 position: relative;
 margin: 15px;
}
.goal-bar .bar-info .bar-info-inner {
 padding: 10px;
 background: #cdc529 ;
 border-radius: 3px;
 color: white;
 text-align: center;
}

.plusbutton {
background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAwIDEwMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTUwLjMwOSwyLjE0Yy0yNi4xOTQsMC00Ny41MDIsMjEuMzA4LTQ3LjUwMiw0Ny40OThjMCwyNi4xOTUsMjEuMzA4LDQ3LjUwMiw0Ny41MDIsNDcuNTAyICBjMjYuMTkxLDAsNDcuNDk4LTIxLjMwOCw0Ny40OTgtNDcuNTAyQzk3LjgwNywyMy40NDgsNzYuNSwyLjE0LDUwLjMwOSwyLjE0eiBNNjIuNTI4LDYxLjg1N3YyNS4zNTQgIGMtMy44NTIsMS4yNTQtNy45NTUsMS45NTQtMTIuMjE5LDEuOTU0Yy00LjI2NCwwLTguMzY4LTAuNy0xMi4yMTktMS45NTRWNjEuODU3SDEyLjczN2MtMS4yNTQtMy44NTItMS45NTUtNy45NTMtMS45NTUtMTIuMjE5ICBjMC00LjI2NiwwLjcwMS04LjM2OCwxLjk1NS0xMi4yMTlIMzguMDlWMTIuMDdjMy44NTEtMS4yNTYsNy45NTYtMS45NTUsMTIuMjE5LTEuOTU1YzQuMjY0LDAsOC4zNjgsMC42OTksMTIuMjE5LDEuOTU1djI1LjM0OSAgaDI1LjM1YzEuMjU4LDMuODUxLDEuOTU0LDcuOTU0LDEuOTU0LDEyLjIxOWMwLDQuMjY2LTAuNjk2LDguMzY4LTEuOTU0LDEyLjIxOUg2Mi41Mjh6Ii8+PC9zdmc+);
background-repeat: no-repeat;
border-radius: 50%;
border: 2px solid white;
font-size: 20px;
width: 90px;
height: 90px;
background-color: white;
text-decoration: none;
padding: 3px;
font-family: Baloo Bhaina, cursive;
color: white;
}

.minusbutton {
background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAwIDEwMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTUwLjcxOCwyLjE0MWMtMjYuMTk0LDAtNDcuNTAyLDIxLjMwOC00Ny41MDIsNDcuNDk4YzAsMjYuMTk0LDIxLjMwOCw0Ny41MDIsNDcuNTAyLDQ3LjUwMiAgYzI2LjE5MSwwLDQ3LjQ5OS0yMS4zMDgsNDcuNDk5LTQ3LjUwMkM5OC4yMTcsMjMuNDQ4LDc2LjkwOSwyLjE0MSw1MC43MTgsMi4xNDF6IE0xMy4xNDYsNjEuODU4ICBjLTEuMjU4LTMuODUyLTEuOTU1LTcuOTU0LTEuOTU1LTEyLjIyczAuNjk3LTguMzY4LDEuOTU1LTEyLjIxOWg3NS4xNDFjMS4yNTQsMy44NTEsMS45NTQsNy45NTMsMS45NTQsMTIuMjE5ICBzLTAuNyw4LjM2OC0xLjk1NCwxMi4yMkgxMy4xNDZ6Ii8+PC9zdmc+);
background-repeat: no-repeat;
border-radius: 50%;
border: 2px solid white;
font-size: 20px;
width: 90px;
height: 90px;
background-color: white;
text-decoration: none;
padding: 3px;
font-family: Baloo Bhaina, cursive;
color: white;
}

.psbutton {
  background-image:url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGRhdGEtbmFtZT0iTGF5ZXIgMSIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHg9IjBweCIgeT0iMHB4Ij48dGl0bGU+b24gb2ZmMjwvdGl0bGU+PHBhdGggZD0iTTI1NiwwQzExNC42MiwwLDAsMTE0LjYyLDAsMjU2UzExNC42Miw1MTIsMjU2LDUxMiw1MTIsMzk3LjM4LDUxMiwyNTYsMzk3LjM4LDAsMjU2LDBaTTIzNSwxMDZoNDJWMjcwSDIzNVYxMDZabTIxLDMwMGMtODIuNzEsMC0xNTAtNjkuMzItMTUwLTE1NC41MywwLTU3Ljc5LDMwLjkyLTExMC4zMSw4MC42OC0xMzcuMDdsMTkuOCwzOS4wOWMtMzUuNTgsMTkuMTMtNTcuNjgsNTYuNjctNTcuNjgsOTgsMCw2MC44OSw0OC4wOSwxMTAuNDMsMTA3LjIsMTEwLjQzczEwNy4yLTQ5LjU0LDEwNy4yLTExMC40M2MwLTQxLjQ5LTIyLjI1LTc5LjExLTU4LjA2LTk4LjE4bDE5LjY1LTM5LjE3YzUwLjEsMjYuNjcsODEuMjIsNzkuMyw4MS4yMiwxMzcuMzZDNDA2LDMzNi42OCwzMzguNzEsNDA2LDI1Niw0MDZaIi8+PC9zdmc+);
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 5px solid white;
  font-size: 20px;
  width: 90px;
  height: 90px;
  background-color: greenyellow;
  text-decoration: none;
  padding: 3px;
  font-family: Baloo Bhaina, cursive;
  color: white;
}

/*.psmbutton {
  background-image:url(./img/PSMbuttonimage.png);
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 0px solid black;
  font-size: 20px;
  width: 90px;
  height: 90px;
  background-color: white;
  text-decoration: none;
  padding: 3px;
  font-family: Baloo Bhaina, cursive;
  color: white;
}*/
.resetbutton {
  background-image:url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAwIDEwMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PHBhdGggZD0iTTg1LjI1LDIyLjA0Qzc3LjAyLDExLjY2LDY0LjI4LDUsNTAsNUMyNS4xNSw1LDUsMjUuMTUsNSw1MGMwLDI0Ljg1LDIwLjE1LDQ1LDQ1LDQ1YzE2LjM1LDAsMzAuNjYtOC43MiwzOC41My0yMS43NiAgIEM5Mi42NCw2Ni40Niw5NSw1OC41LDk1LDUwQzk1LDM5LjQ0LDkxLjM2LDI5LjcyLDg1LjI1LDIyLjA0eiBNNzcuNTU4LDU0LjE0M2MtMC4xODgsMS4zNzUtMC40NzYsMi43MjUtMC44NTgsNC4wMTMgICBjLTMuNDUyLDEyLjAxNS0xNC42NTEsMjAuMTk5LTI2LjkyOSwyMC4xOTljLTEuMjM4LDAtMi40ODctMC4wODMtMy43NDEtMC4yNTRjLTguODY1LTEuMjA5LTE2LjUxMi02LjUwNi0yMC43NzItMTQuMjk1ICAgYy0wLjQ0Ny0wLjgxNy0wLjEyNy0xLjg0MywwLjcxNi0yLjI0bDIuNTM4LTEuMTk1YzAuNzUzLTAuMzU0LDEuNjYxLTAuMDc3LDIuMDY0LDAuNjUxYzMuMzU4LDYuMDY2LDkuMzQsMTAuMTg4LDE2LjI2NiwxMS4xMzMgICBjMTAuNzU1LDEuNDY5LDIxLjEwOS01LjI3NSwyNC4xLTE1LjY4MWMwLjMwMi0xLjAyMSwwLjUyNi0yLjA2OSwwLjY3Mi0zLjE0M2MwLjE0Ny0xLjA3NiwwLjIxMi0yLjE0NiwwLjE5NC0zLjE4NCAgIGMtMC4wOTMtMTAuODUyLTguMjctMjAuMTIzLTE5LjAxOC0yMS41ODhjLTkuMDktMS4yNDMtMTcuODkzLDMuMjk5LTIyLjIyNywxMS4xODRsMi40NjcsMS4wN2MwLjYzNSwwLjI1LDAuNzExLDEuMTE4LDAuMTI5LDEuNDc1ICAgTDI0Ljc3NCw0Ny44Yy0wLjQ3LDAuMjg4LTEuMDg0LDAuMDQ1LTEuMjMtMC40ODZMMjEuMTA4LDM3LjExYy0wLjE4LTAuNjU3LDAuNDY3LTEuMjM5LDEuMTAxLTAuOTg5bDIuODIsMS4yMjMgICBDMzAuNDQ1LDI3LDQxLjgzOSwyMS4wMTEsNTMuNiwyMi42MTVjMTMuNjgxLDEuODY2LDI0LjA4OCwxMy42NywyNC4yMDcsMjcuNDU3Qzc3LjgyOSw1MS4zODgsNzcuNzQ1LDUyLjc2Niw3Ny41NTgsNTQuMTQzeiIvPjwvZz48L3N2Zz4=);
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 0px solid white;
  font-size: 20px;
  width: 90px;
  height: 90px;
  background-color: white;
  text-decoration: none;
  padding: 3px;
  font-family: Baloo Bhaina, cursive;
  color: white;
}
